@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-light: #4fd1c5;
    --color: #38b2ac;
    --color-dark: #285e61;
}

body {
    font-family: "Damascus";
}

.title {
    font-size: 3rem; /* 48px */
    line-height: 1;
    padding: 1.25rem; /* 20px */
    text-align: center;
    text-transform: capitalize;
}

.form {
    background: #fff;
    border-radius: 2rem;
    margin: 4rem auto;
    border: 5px solid var(--color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 4rem 2.5rem;
    transition: 0.3s ease-in-out all;
}

.form-content {
    display: grid;
    gap: 1rem; /* 32px */
    padding-top: 3rem; /* 48px */
    padding-bottom: 3rem; /* 48px */
}

.form:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.form-label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.form-input,
.form-textarea,
.form-select {
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.25rem;
    background: #f0f4f8;
    border: 1px solid #bcccdc;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04)
}

.form-input,
.form-select,
.btn-block {
    height: 32px;
}

.form-row {
    margin: 1rem;
}

.form-textarea {
    height: 7rem;
}

::placeholder {
    font-family: inherit;
    color: #829ab1;
}

.form-alert {
    color: #842029;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.form-title {
    font-size: 2rem; /* 48px */
    text-transform: capitalize;
    padding: 1.25rem; /* 20px */
    text-align: center;
}

.edit-form {
    background: #fff;
    margin: auto;
    padding: 1rem .5rem;
    transition: 0.3s ease-in-out all;
}

.loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid grey;
    border-radius: 50%;
    border-top-color: dodgerblue;
    animation: spinner 2s linear infinite;
}

.btn {
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    background: var(--color-light);
    border: transparent;
    border-radius: 0.75rem;
    letter-spacing: 1px;
    padding: 0.6rem 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease-in-out all;
    text-transform: capitalize;
    display: inline-block;
    height: 32px;
}

.btn-cancel {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
}

.btn:hover {
    background: var(--color-dark);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.link {
    color: var(--color-light);
    text-decoration: underline;

}

.link:hover {
    color: var(--color-dark);
}

.text {
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

.card {

}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}




